@page "/lazy-loading-page"

<PageTitle>@_Title | Blazor Wasm App 0</PageTitle>

<h1>@_Title</h1>

<div>
	<a href="/">home</a>
</div>
<div>
	<a href="/about">about</a>
</div>

@code {
	private string _Title = "Lazy Loading Page";
}