<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
    </span>
    and tell us what you think.

    <div>
        You can also send feedback to our email address <a href="mailto:contact@example.com">contact@example.com</a>.
    </div>

    <div>
        You can get the ".NET" logo file from <a href="data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%235c2d91%3B%7D.cls-2%2C.cls-3%7Bfill%3A%23fff%3B%7D.cls-2%7Bopacity%3A0.1%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Elogo_NET%3C%2Ftitle%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%2232%22%20cy%3D%2232%22%20r%3D%2232%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M9.82%2C9A32%2C32%2C0%2C1%2C0%2C55%2C54.18Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M7.4%2C41.25a1.35%2C1.35%2C0%2C0%2C1-1-.42%2C1.38%2C1.38%2C0%2C0%2C1-.41-1%2C1.4%2C1.4%2C0%2C0%2C1%2C.41-1%2C1.34%2C1.34%2C0%2C0%2C1%2C1-.43%2C1.37%2C1.37%2C0%2C0%2C1%2C1%2C.43%2C1.39%2C1.39%2C0%2C0%2C1%2C.42%2C1%2C1.37%2C1.37%2C0%2C0%2C1-.42%2C1A1.38%2C1.38%2C0%2C0%2C1%2C7.4%2C41.25Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M27.27%2C41H24.65L15.28%2C26.46a6.06%2C6.06%2C0%2C0%2C1-.58-1.14h-.08a18.71%2C18.71%2C0%2C0%2C1%2C.1%2C2.5V41H12.59V22.77h2.77l9.12%2C14.28q.57.89.74%2C1.22h.05a19.29%2C19.29%2C0%2C0%2C1-.13-2.68V22.77h2.13Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M41.69%2C41H32V22.77h9.24V24.7H34.18v6.06h6.58v1.92H34.18V39h7.52Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M56%2C24.7H50.7V41H48.57V24.7H43.33V22.77H56Z%22%2F%3E%3C%2Fsvg%3E">here</a>.
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
