@page "/"
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnv
@inject IHtmlSanitizer HtmlSanitizer

<PageTitle>@_Title | Blazor Wasm App 0</PageTitle>
<HeadContent>
	<meta name="description" content="This is a meta description.">
</HeadContent>

<h1>@_Title</h1>

<div>
	<a href="/about">about</a>
</div>
<div>
	<a href="/lazy-loading-page">lazy loading page</a>
</div>

<div class="environment">
	Environment: @HostEnv.Environment
</div>

<RazorClassLib1.Component1 Name="@Me?.UserDetails" />

@code {
	private string _Title = "";

	[CascadingParameter]
	public ClientPrincipal? Me { get; set; }

	protected override void OnInitialized()
	{
		this._Title = this.HtmlSanitizer.Sanitize(Configuration.GetValue("HomeTitle", ""));
	}
}