@page "/"
@inject IConfiguration Configuration

<PageTitle>@_Title | Blazor Wasm App 0</PageTitle>

<h1>@_Title</h1>

<div>
	<a href="/about">about</a>
</div>

@code {
	private string _Title = "";

	protected override void OnInitialized()
	{
		_Title = Configuration.GetValue("HomeTitle", "");
	}
}