@page "/about/.net"
<Title>About .NET</Title>

<h1>About .NET</h1>

<blockquote>
    .NET (pronounced as "dot net"; previously named .NET Core) is a free and open-source,
    managed computer software framework for Windows, Linux, and macOS operating systems.
    It is a cross-platform successor to .NET Framework.
    The project is primarily developed by Microsoft employees by way of the .NET Foundation, and released under the MIT License.
</blockquote>

<div>
    <a href="https://en.wikipedia.org/wiki/.NET" target="_blank">
        https://en.wikipedia.org/wiki/.NET
    </a>
</div>